.notification {
  background-color: rgba(20, 20, 20, 0.6);
  background: #222;
  background: linear-gradient(180deg, rgba(34, 34, 34, 1) 0%, rgba(59, 59, 59, 0.5) 70%);
  border-radius: 12px;
  border: 2px solid rgba(0,0,0,0.3);
  padding: 3px;
  color: #ddd;
  font-family: "SpaceMono Nerd Font", monospace;
}
.notification .summary {
  font-weight: bold;
  color: #FFF; /* gold */
}
.notification .body {
  color: #AAA;
}

